beir
html2text
beautifulsoup4
voyageai
pyext
transformers
jsonlines
rank_bm25
tenacity
openai
tiktoken
fastwarc
vllm
chardet
unidiff
GitPython
evaluate
requests
accelerate
editdistance
litellm
google-generativeai
bitsandbytes
